::selection
  background $blue
  color white

html
  font-size 50px
  font-family Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif

body
  padding 0
  margin 0
  background white
  min-width 300px
  font-size .24rem

.el-notification
  display flex
  align-items center
  width 180px
  padding .2rem
  // top 10px !important
  right 10px !important
  border none
  border-radius .1rem
  h2
    font-size .26rem
    color $background
  i
    height auto
    font-size .34rem

.el-notification__closeBtn
  top 11px

.el-message-box
  border none

.el-message
  margin-left 80px
  background $green
  border-color $green
  p,
  i
    color white !important

.el-button--success
  background $green
  border-color $green

.el-popover__reference
  outline none

.el-popover
  padding 0

.form__main
  margin-top 0
  background $background-color
  border-radius 5px

.form__row
  display flex
  align-items center
  min-height 40px
  padding 12px
  box-sizing border-box
  color $text
  font-size 14px
  cursor pointer
  user-select none
  > label
    margin-right 10px
    white-space nowrap
