.theme-dark
  color $text-light
  // ===== element-ui =====
  .el-select-dropdown__item.hover
  .el-button--default
  .el-input input
    background $background-dark

  .el-input__inner
  .el-select-dropdown
  .el-alert--info
  .el-input__inner
  .el-picker-panel
  .el-picker-panel__footer
    background $background-dark-section

  .el-popover
  .el-select-dropdown
    background $background-dark-content

  .el-popover
  .el-button--default
  .el-date-picker__time-header
  .el-picker-panel
  .el-picker-panel__footer
  .el-date-table th
    border-color $background-dark

  .el-input__inner
  .el-select-dropdown
    border-color $background-dark-section

  .el-select-dropdown__item
  .el-input__inner
  .el-date-table__row .available
    color $text-light

  .el-input__inner::-webkit-input-placeholder
  .el-date-table__row .prev-month
  .el-date-table__row .next-month
    color $text-gray

  .popper__arrow
  .popper__arrow:after
    border-bottom-color $background-dark !important
  .popper__arrow:after
    border-bottom-color $background-dark-content !important

  // ===== common ======
  .u-bb:after
    background #222 !important

  .header__content
  .form__row
  .form__row label
  .task-folder-item
  .task-list__options
  .task-item
  .task-item__content h1
  .task-item__info i
  .task-detail-main textarea
    color $text-light !important

  .form__row
  .task-item
  .task-detail-main__bottom span
    background $background-dark-section !important

  .task-item.active
    background $background-dark !important
  .task-item.active .task-item__info
    background darken($background-dark, 1.5) !important

  .modal__main
  .task-list
  .task-list .header
  .task-list__options p
    background $background-dark-content !important

  .sidebar
    background $sidebar-dark !important

  .task-item__info
    background darken($background-dark-section, 1.5) !important
