// You can use cursor align
$blue                    = #1c9fff
$purple                  = #765ee7
$red                     = #C34B2C
$yellow                  = #FBBB4D
$green                   = #3DC550
$black                   = #333333
$border                  = #EFEFEF
$gray                    = #D9D9D9

$text                    = #2D3F50
$text-gray               = #909399
$text-light              = #BEC1C5

$background-color        = #F8F8FA
$background-dark         = #202124
$background-dark-content = #333639
$background-dark-section = #292C2F

$arrow                   = #EBEEF5

$border-default          = .5px solid $border

$sidebar-light           = rgba(#E8E8E8, .8)
$sidebar-dark            = rgba(#202124, .9)
