$blue = #1c9fff
$purple = #765ee7
$red = #FA6260
$yellow = #FBBB4D
$green = #3DC550
$black = #333333
$border = #EFEFEF
$gray = #D9D9D9
$text = #2D3F50

$background-color = #F8F8F8

$border-default = .5px solid $border
